<!-- <ul class="topnav"> -->
    <!-- <li><a href="">{{tab[0]}}</a></li>
    <li class="right"><a href="/contest/list">{{tab[1]}}</a></li>
    <li class="right"><a href="/login">{{tab[2]}}</a></li> -->
    <!-- approach2 -->
    <!-- <li ><a (click)="clickEvent(tab[0])">{{tab[0]}}</a></li> -->
    <!-- <li class="right"><a (click)="clickEvent(tab[1])">{{tab[1]}}</a></li> -->
    <!-- <li class="right"><a (click)="clickEvent(tab[1])">{{tab[1]}}</a></li> -->
<!-- </ul> -->
<!-- <div *ngIf="atHome" [class.background]="atHome">
  <img src="https://miro.medium.com/max/1838/1*fNnHCl0wXbBrrGx3XvruIQ.jpeg" height="100%" width="100%"/>
</div> -->
<!-- <app-home *ngIf="!atHome"></app-home> -->
<!-- <div class="content"> -->
  <!-- <pdf-viewer [src]="pdfSource"
  [original-size]="false"
></pdf-viewer> -->
<router-outlet></router-outlet>
<!-- </div> -->
<!-- <div class="footer">
  <p class="footer-text">Made by AKC</p>
</div> -->
